.github-profile {
    h2 {
        text-align: center;
    }
    .profile-card {
        display: block;
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 30rem;
        }
        margin: 2rem auto;
        background-color: $white;
        box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.3);
        border-radius: 2rem;
        .header {
            width: 100%;
            height: 10rem;
            border-bottom: 1px solid $mid-gray;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            // grad 1
            background: rgb(28,53,83);
            background: linear-gradient(126deg, rgba(28,53,83,1) 0%, rgba(109,213,237,1) 100%);
            // grad 2 
            // background: rgb(33,147,176);
            // background: linear-gradient(131deg, rgba(33,147,176,1) 0%, rgba(109,213,237,1) 100%);
        }
        .avatar {
            margin: 0 auto;
            width: 9rem;
            height: 9rem;
            margin-top: -4.5rem;
            img {
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
                transition: transform .3s ease-in;
                &:hover {
                    transition: transform .3s ease-in;
                    transform: scale(1.15);
                }
            }
        }
        .info {
            padding: 1rem 0;
            width: 70%;
            @include media-breakpoint-up(md) {
                width: 50%;
            }
            margin: 0 auto;
            span {
                display: block;
            }
            .name, 
            .bio {
                text-align: center;
            }
            .name {
                color: $text;
                font-size: 1.7rem;
                font-weight: bold;
            }
            .bio {
                font-size: 1.1rem;
                color: $mid-gray;
            }   
        }
        .follow-stats {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            .following,
            .followers {
                width: 50%;
                text-align: center;
                span {
                    display: block;
                }
                .number {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: $blue;
                }
                .label {
                    color: $mid-gray;
                    font-weight: 500;
                }
            }
        }
        .github-btn {
            display: block;
            margin: 1.5rem auto;
            background-color: $blue;
            border: 1px solid $blue;
            border-radius: 30px;
            width: 85%;
            @include media-breakpoint-up(md) {
                width: 70%;
            }
            transition: transform .2s ease-in;
            padding: .7rem 0;
            &:hover {
                transition: transform .2s ease-in;
                transform: scale(1.1);
            }
        }

        .social {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            padding-bottom: 1.5rem;
            svg {
                width: 2rem;
                height: 2rem;
                transition: transform .2s ease-in;
                &:hover {
                    transition: transform .2s ease-in;
                    transform: scale(1.1);
                }
            }
        }
    }
}