.github-profile {
    h2 {
        text-align: center;
    }
    .profile-card {
        display: block;
        width: 30rem;
        margin: 2rem auto;
        background-color: $white;
        box-shadow: 1px 1px 10px 0px #ccc;
    }
}