// Colors
// Color vars
$white:#fff;
$dark-gray: #5b5b5b;
$gray: #777777;
$mid-gray: #ccc;
$light-gray: #f9f9f9;
$text: #222;

$green: #07c808;
$dark-green: #06ac07;
$red: #e35423;
$blue: #2988ff ;

@mixin mob-xs {
    @media screen and (min-width: 320px) {
        @content;
    }
}